body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #f5efe6;
}

#board {
  width: 400px;
  height: 400px;
  border: 10px solid #7895b2;
  background-color: #aebdca;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

#board div:hover {
  background-color: #e8dfca;
}

#board div {
  width: 48px;
  height: 48px;
  border: 1px solid whitesmoke;

  /* text */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-clicked {
  background-color: darkgrey;
}

.x1 {
  color: blue;
}

.x2 {
  color: green;
}

.x3 {
  color: red;
}

.x4 {
  color: navy;
}

.x5 {
  color: brown;
}

.x6 {
  color: teal;
}

.x7 {
  color: black;
}

.x8 {
  color: gray;
}

#reset-game {
  padding: 0.8em 1.8em;
  border: 2px solid #7895b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #7895b2;
  font-weight: bold;
}

#reset-game::before {
  content: "";
  width: 0;
  height: 350%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #7895b2;
  transition: 0.5s ease;
  z-index: -1;
}

#reset-game:hover::before {
  width: 105%;
}

#reset-game:hover {
  color: white;
}

#flag-button,
#uncertain-button {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  border: 2px solid #7895b2;
  margin-bottom: 7px;
}

.minedCellBackgroundColor {
  background-color: red;
}

.cell-clicked {
  background-color: #b7d9fb;
}

#game-over, #win-message{
  height: 50px;
  width: max-content;
  font-size: 75px;
  font-weight: 600;
  font-family: monospace;
  color: #7895b2;
  filter: drop-shadow(0 0 10px);
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 5%;
}
